.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.moviePic {
    height: 400px;
    width: auto;
    opacity: 0.9;
}

.movieDetail {
    position: absolute;
    top: 50%;
    width: 70%;
    text-align: center;
    font-size: 18px;
}
/* Your CSS Code here. */